#measurer {
       position: absolute;
       top: -1em;
       left: 0;
       visibility: hidden;
       width: 100%;
       height: 1em;
       line-height: 1em;
}

#outer {
       height: 100%;
}

#outer,
#footer {
       width: expression(
       (
               document.getElementById('measurer')
               && document.getElementById('measurer').clientWidth < 950
       )
       ?       '950px'
       :       (
                       document.getElementById('measurer')
                       && document.getElementById('measurer').clientWidth < 1600
               )
               ?       '100%'
               :       '1600px'
       );
}